.header {
   height: 116px;
   display: flex;
   align-items: center;
   position: fixed;
   background-color: white;
   width: 100%;
   z-index: 8;
   height: 80px;

   @media (max-width: 1025px) {
      position: fixed;
   }
   &__logo {
   }

   &__menu {
      @media (max-width: 1025px) {
         display: none;
         // &.active {
         //    display: block;
         //    position: fixed;
         //    width: 100%;
         //    height: 100vh;
         //    overflow-y: auto;
         //    background-color: white;
         //    top: 0;
         //    left: 0;
         // }
      }

      &--mobile {
         padding: 12px 24px 24px 24px;

         transform: translateX(-100%);
         transition: transform 0.3s ease, -webkit-transform 0.3s ease;
         display: flex;
         flex-direction: column;
         position: fixed;
         width: 100%;
         height: 100vh;
         overflow-y: auto;
         background-color: white;
         top: 0;
         left: 0;
         justify-content: space-between;

         & .header__menu-list {
            margin-top: 32px;
            display: flex;
            flex-direction: column;
         }
         & .header__create {
            display: block;
            margin-bottom: 12px;
         }
         & .header__login {
            display: block;
         }

         & .header__mobile-top {
            display: flex;
            justify-content: space-between;
            padding-right: 24px;
            align-items: center;
         }
         & .header__logo {
            width: 56px;
            height: 56px;
         }
         &.active {
            z-index: 6;
            transform: translateX(0);
         }

         & .header__menu-btns {
            margin-bottom: 100px;
         }
      }
   }

   &__menu-list {
      @media (max-width: 1025px) {
         display: none;
         // display: flex;
         // flex-direction: column;
         // position: absolute;
         // top: 124px;
         // left: 0px;
         // width: 100%;
      }
   }

   &__menu-item {
      margin-right: 32px;

      &:last-of-type {
         margin-right: 0;
      }

      @media (max-width: 1025px) {
         padding: 24px 24px 24px 0px;
      }
   }

   &__menu-link {
      font-size: 18px;
      line-height: 24px;
      color: #474747;

      &:hover {
         text-decoration: underline;
      }

      @media (max-width: 1025px) {
         font-weight: 600;
         font-size: 24px;
         line-height: 32px;
         color: #141a33;
      }
   }

   &__login {
      @media (max-width: 1025px) {
         display: none;
      }
   }
}
